body {
    background-color: grey;
}

#card-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
};

.card {
    margin: 1%;
    padding: 2%;
    width: 400px;
    border: 2px solid black;
    text-align: center;
}

#diary-holder {

};

.image {
    /* display: block; */
    /* margin: auto; */
    height: 10px;
    width: 10px;
}