body {
    background-color: grey;
}

#card-holder {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    
}

.card {
    display: block;
    width: 30%;
    margin: 10px;
    background-color: orange;
    border: 2px solid black;
    text-align: center;
}

textarea {
    width: 90%;
    margin: 20px;
}

.image {
  
    display: block; 
     margin: 10px auto 10px auto; 
    height: 30%;
    width: 90%;
}

.diary {
    display: block;
    width: 90%;
    margin: 10px;
    padding: 5px;
    background-color: white;
    text-align: justified;
}

#diary-entry {
    background-color: grey;
}